<div class="links text-center">
  <p><a href="http://twitter.com/valeriecodes" target="_"><i class="fab fa-twitter" aria-hidden="true"></i> @valeriecodes</a></p>
  <p><a href="http://github.com/valeriecodes" target="_"><i class="fab fa-github" aria-hidden="true"></i> valeriecodes</a></p>
  <p class="link-icons">
      <a href="https://www.linkedin.com/in/vwoolard/" target="_"><i class="fab fa-linkedin" aria-hidden="true"></i></a> •
      <a href="https://dev.to/valeriecodes"><i class="fab fa-dev" title="valeriecodes's DEV Profile"></i></a> •
    <a href="mailto:valerie.woolard@gmail.com"><i class="fas fa-envelope" aria-hidden="true"></i></a>
  </p>
</div>
