h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 2.2rem;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.container {
  padding-top: 50px;
}
.row {
  padding-bottom: 20px;
}
.link-icons {
  font-size: 1.5em;
}
